////
/// Lists
/// -> UL and OL elements? Yeah, those two go here for reusable components
////

ul.list {
    &--social {

    li.list__icon {
      display: inline-block !important;
      font-size: $msuif-font-size-large;
      padding: torem(10px);
      transition: color $msuif-transition-duration $msuif-transition-timing;

      a {
        color: $msuif-font-color-bright;

        &:hover {
          color: $msuif-font-color-bright;
        }
      }

      &:last-child {
        margin-right: torem(20px);
      }

      &:hover {
        color: $brand-primary;
      }
    }
  }
}