////
/// Shame CSS
/// -> This file is full of quick and AWFUL fixes that should be refactored ASAP.
/// @group Shame
/// @author MS
////

/* Header styles */

#header .logo {
  @include respond-to('iphone') {
    float:left;
  }
}

#header .navigation {

  > .btn {
    display: none;
    margin: 15px 20px;
  }

  #mobile-menu-button {
    border: none;
    background-color: transparent;
    position: relative;

    span {
      background-color: $msuif-background;
    }
  }

  @include respond-to('iphone') {
    float: right;
    padding: 24px 0;

    > nav {
      display: inline-block !important;
    }

    .btn {
      display: inline-block;
      margin-right: 20px;
    }
  }
}

.logo a img {
  height: 80px;
}

.page-heading.style-image {
  padding-top: 260px;
  padding-bottom: 60px;
}

.navigation #main-nav.color-white + .btn-container a.button:before {
  background-color: $brand-primary !important;
}

#header .navigation>div {
  width: auto;
}

.color-dark .btn-container {
  text-align: right;

  a {
    color: $msuif-font-color-bright;
    border: none;

    &:first-of-type {
      margin: 0 10px;
    }
  }
}

.title h1 {
  font-size: 100px;
  font-weight: bold;
  margin-bottom: torem(20px);
}

.title p {
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
}

.title + .btn {
  margin-top: torem(100px);
  font-size: 35px;
  padding: torem(20px);
}
/* End header styles */